@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Herr Von Muellerhoff', cursive;
    --body-font: 'Cabin', sans-serif;
    --main-font-color-dark: #252525;
    --secondary-font-color: #c59d5f;
    --body-font-color: #181616;
}

html{
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;

}
body{
    overflow-x:hidden ;
}

section{
    padding: 3.9rem 0;
    overflow: hidden;

}
img{
    width: 100%;
    max-width: 100%;
}
a{
    text-decoration: none;
}
p{
    font-size: 1.6rem;
}

.container{
    width: 100%; 
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;

}

/* Header */
header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #252525;
   
}
.nav{
    background-color: transparent;
    color: white;
}
.nav::after{
    content: '';
    clear: both;
    display: table;
}
.nav .logo{
    float: left;
    line-height: 70px;
    /* padding-left: 60px; */
    /* display: none; */
    
}
.nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
.nav ul li{
    float: left;
    display: inline-block;
    background: #252525;
    margin: 0 5px;

}
.nav ul li a{
    
    line-height: 70px;
    font-size: 1.6rem;
    padding: 8px 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;

}
.show{
    line-height: 70px;
    font-size: 1.6rem;
    padding: 8px 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
}
.nav ul li a:hover{
    color: var(--secondary-font-color);
    
}
.show:hover{
    color: var(--secondary-font-color);
}
.nav ul ul{
    position: absolute;
    top:70px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;

}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
}
.nav input,.icon {
    display: none;
}
/* Hero */

.hero{
    width: 100%;
    height: 100vh;
    background: url(images/perfect-blend-2.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    background-attachment:fixed;
}
.sub-headline{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: var(--secondary-font-color);
    font-weight: 200;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;

}
.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}
.headline{
    color: #fff;
    font-size: 3.7rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: -5rem;
    animation: scale .5s forwards;
    
}
.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}
.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: #fff;
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay:.9s ;
}
.line-right::before,
.line-left::before{

    content:'' ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s ;
    


}
.line-right::before{
border-right-color:#fff ;
right: 0;

} 
.line-left::before{
    border-left-color:#fff ;
    left: 0;
    
}

.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s ;

}
.singal-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.hedline-description h5{
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: -3px;
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;

}

.cta-btn:hover,
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);


}
/* discover our story */
.global-headline{
    text-align: center;
    margin-top: 3.9rem;

}
.discover-our-story .global-headline{
    margin-top: 6.9rem;

}

.global-headline .asterisk{
    color: var(--body-font-color);
    margin: 2.4rem 0;

}
.headline-dark{
    color: var(--main-font-color-dark);
    letter-spacing: .7rem;
    margin-right: -.7rem;
}
.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: .42;

}
.resturent-info{
    text-align: center;

}
.restaurent-description{
    margin-bottom: 3rem;

}

.restaurent-description .p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}
.body-btn{
    margin-top: 10px;
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;


}
.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}
.body-btn:hover,
.body-btn:focus{
    color: var(--main-font-color-dark);
}
.body-btn:hover::before,
.body-btn:focus::before{
color: var(--main-font-color-dark);

}
/* testfull recipes */

.tasteful-recipes{
    background: url(images/testful-2.jpg) center no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
.between{
    min-height: 65vh;
    display: flex;
    align-items: center;

}

/* Discover our menu */
.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}
.discover-our-menu .restaurant-description{
    padding-top: 3rem;
    margin-bottom: 0;


}
/* the perfect blend */

.perfect-blend{
    background: url(images/hero.jpg) center no-repeat;
    background-size: cover;
    background-attachment:fixed;
}
/* logos as carousel  */

.slick-slide{
    margin: 0px 20px;
}
.slick-slide img{
    width: 100%;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    transform: translate3d(0,0,0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track::before,
.slick-track::after{
    display: table;
    content: '';
}
.slick-track::after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rt1'] .slick-slide{
    float: left;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.slick-list.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}


/* footer */
footer{
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;

}
.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #121212;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50%;



}
.back-to-top i{
    display: block;
    color: #fff;
    font-size: 2rem;
    padding: 2rem;
    animation: up 2s infinite;
}

.footer-content{
    overflow: hidden;
}
.footer-content h4{
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .asterisk{
    margin: 2.4rem 0;
}
.footer-content-about{
    margin-bottom: 5.4rem;

}
.footer-content-about p{
    line-height: 2;
}
.social-icons{
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;

}
.social-icons i{
    font-size: 2rem;
    color: #fff;
    padding: 8rem 2rem;
    opacity: .5;
    transition: color .5s;
}
.social-icons i:hover,
.social-icons i:focus{
    color: var(--secondary-font-color);
}
.newsletter-form{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}
.newsletter-input{
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.newsletter-btn{
    background-color: transparent;
    border: none;
    color: var(--main-font-color-dark);
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10.5rem;
}

/* Media queries for nav-bar*/
@media all and (max-width: 968px){
    .nav ul{
        margin-right: 0px;
        float: left;
    }
    .nav .logo{
        padding-left: 30px;
        width: 100%;

    }
    .nav ul li, .nav ul ul li{
        display: block;
        width: 100%;
    }
    .nav ul ul{
        top:70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .nav ul ul ul li{
        position: static;
    }
    .nav ul ul li{
        border-bottom: 0px;
    }
    .nav ul ul a{
        padding-left: 40px;
    }
    .nav ul ul ul a{
        padding-left: 80px;
    }
    .show{
        display: block;
        color: #fff;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        
    }
    .show:hover{
        color: #c59d5f;
    }
    .nav ul li a:hover{
        box-shadow: none;
    }
    .icon{
        display: block;
        color: #fff;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
    }
    
}
/* Media queries for others*/
@media screen and (min-width: 900px){
    section{
        padding: 7.9rem;
    }
    .sub-headline{
        font-size: 10rem;

    }
    .first-letter{
        font-size: 12rem;
    }
    .headline{
        font-size: 4.7rem;
        letter-spacing: .3rem;
    }

    .line{
        max-width: 11.4rem;
    }

    .resturent-info{
        display: flex;
        align-items: center;
    }
    .resturent-info > div{
        flex: 1;
    }
    .padding-right{
        padding-right: 7rem;

    }

    .footer-content{
        max-width: 77.5rem;
        margin: auto;
    }
    .footer-content-about{
        max-width: 51.3rem;
        margin: 0 auto .4rem;

    }
    .footer-content-divider{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

    }
    .social-media,
    .newsletter-form{
        width: 100%;
        max-width:27.3rem;
        margin: 0 1rem;
    }

    .social-icons i{
        opacity: 1;
    }
    .newsletter-btn{
        margin-left: 7.5rem;
    }


}

/* Animations */

@keyframes fadeUp{
    0%{
        transform: translateY(4rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes scale{
    0%{
        transform: scale(2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes grow{
    0%{
        width: 0;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes spin{
    0%{
       transform: rotate(0);
    }
    100%{
        opacity: 1;
        transform: rotate(-360deg);
    }
}
@keyframes fadeDown{
    0%{
        transform: translateY(-1rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes up{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        transform: translateY(-1rem);
    }
}






















